* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;   
}

h1, h2, h3, h4, figcaption, .map__marker {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0.2rem 0;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.cover-image {
    max-width: 10rem;
    margin: 3rem auto;
}

h2 {
    font-size: 1.6rem;
}

h2::first-letter {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

h3::first-letter {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.1rem;
}

h4::first-letter {
    font-size: 1.3rem;
}

h4 img {
    display: block;
    margin: -0.1rem 0 0 1rem;
    height: 1.3rem;
    width: auto;
}

ul {
    padding-left: 24px;
}

li {
    margin: 1rem 0;
}

a {
    color: var(--col-primary);
    text-decoration: none;
}

a.visited {
    color: var(--col-primary-dark);
}

.point {
    font-weight: 600;
    font-style: italic;
}

.creature {
    font-weight: bold;
    color: var(--col-text);
    background-color: var(--col-primary-faded);
    /*border: 1px solid #420000;*/
    padding: 3px 6px;
    border-radius: 0.4rem;
    cursor: pointer;
}

.element--hidden {
    display: none;
}

/* LAYOUT */
@media screen and (min-width: 461px) {
    .layout__container {
        display: grid;
        grid-template-columns: 0 auto 0;
    }
    .layout__left {
        grid-column: 1 / 2;
    }
    .layout__center {
        grid-column: 2 / 3;
    }
    .layout__right {
        grid-column: 3 / 4;
    }
}

@media screen and (min-width: 761px) {
    .layout__container {
        grid-template-columns: 2fr 760px 8fr;
    }
}


/* CONTENT */
#main-content {
    padding: 6px;
    max-width: 760px;
    /*margin: auto;*/
    background-color: var(--col-background);
}

.title {
    font-size: 2.2rem;
    text-align: center;
}

.title-description {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    margin: 0.2rem 0;
    text-align: center;
}

.sidebar {
    padding: 6px;
    background-color: var(--col-primary-faded);
    border-left: 2px solid var(--col-primary);
    border-right: 2px solid var(--col-primary);
    margin-bottom: 1rem;
}

.sidebar__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar__content {
    display: none;
}

.sidebar-decoration {
    position: relative;    
}

.sidebar::before {
    content: " ";
    display: block;
    position: absolute;
    top: -4px;
    left: -3px;
    width: 8px;
    height: 8px;
    background-color: var(--col-primary);
    border-radius: 100%;
}

.sidebar::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -4px;
    left: -3px;
    width: 8px;
    height: 8px;
    background-color: var(--col-primary);
    border-radius: 100%;
}

.sidebar-decoration::before {
    content: " ";
    display: block;
    position: absolute;
    top: -4px;
    right: -3px;
    width: 8px;
    height: 8px;
    background-color: var(--col-primary);
    border-radius: 100%;    
}

.sidebar-decoration::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -4px;
    right: -3px;
    width: 8px;
    height: 8px;
    background-color: var(--col-primary);
    border-radius: 100%;
} 

.map {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    box-shadow: 1px 1px 4px var(--col-shadow);
}

.map__img {
    max-width: 100%;
}

.map__title {
    position: absolute;
    left: 0.2rem;
    top: 0.1rem;
    font-weight: bold;
    font-size: 1rem;
}

.map__title::first-letter {
    font-size: 1.2rem;
}

.map__marker {
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;     
}

.map__marker::first-letter {
    font-size: 1.4rem;
}

.map__scale {
    position: absolute;
    bottom: 0.1rem;
    left: 0.2rem;
    font-size: 0.8rem;
    text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
     -1px 1px 0 #ffffff,
      1px 1px 0 #ffffff;
}

.map__title, .map__marker {
    text-shadow: 
    -1px -1px 0 #ffffff,  
     2px -1px 0 #ffffff,
     -1px 2px 0 #ffffff,
      2px 2px 0 #ffffff;
}

.map__link {
    display: flex;
    align-content: flex-start;
}

.map__rotate {
    transform: rotate(90deg);
}

/* APP */

#app {
    font-weight: 300;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    padding: 0.4rem;
    z-index: 1;
    background-color: var(--col-background);
    box-shadow: 0 0 20px var(--col-shadow);      
    max-width: 460px;
    max-height: 98%;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (min-width: 1371px) {
    #app {
        left: calc(770px + (100% - 760px)/5);
    }
}

#app-close {
    position: absolute;
    right: 6px;
    top: 6px; 
}

.button--round {
    font-size: 1.4rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--col-primary);
    transition: background-color 0.3s 0s;
    border-radius: 100%;
    color: white;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}


#app-close:hover, #app-close:active {
    background-color: var(--col-primary-light);
}